{
  "presets": [
    [
      "stage-2",
      "env",
      "react",
      "es2015-tree-shaking",
      {
        "targets": {
          "browser": [
            "> 1%",
            "last 5 versions",
            "ie >= 8"
          ]
        }
      }
    ]
  ]
}